<div class="container test-margin">
    <div class="row">
        <div class="">
            <form class="form-group">
               <h1 class="text-center"><i>Search For Movies</i></h1>
               <br>
                <div class="control-group">
                    <input class="form-control center-block input-field" type="search" name="" value="" ng-model="params" placeholder="Enter Movie Title...">
                </div>
                <br>
                <div>
                    <button ng-click="getMovies(params)" class="btn btn-primary center-block" type="button">Go!</button>
                </div>
            </form>
            <hr>
        </div>
    </div>
</div>


<div class="container">
    <div class="row" >
        <div class="well" ng-repeat="list in movieService.movieList track by $index">
            <div>
                <h1>{{ list.title }}</h1>
            </div>
            <div>
                <h2>{{ list.realease_date }}</h2>
            </div>
            <div>
                <button class="btn btn-primary pull-right glyphicon glyphicon-plus" ng-click="saveMovie(movie)"></button>
            </div>
            <hr>
        </div>
    </div>
</div>