<div class="container test-margin">
    <div class="row">
        <div class="well">
            <form action="">
                <h1 class="text-center">Login Page</h1>
                <div class="control-group">
                    <label for="">Username:</label>
                    <input class="form-control" type="text">
                </div>
                <br>
                <div class="control-group">
                    <label for="">Password</label>
                    <input class="form-control" type="password">
                </div>
            </form>
        </div>
    </div>
</div>