<div class="container test-margin">
    <div class="row">
        <div class="well">
            <form action="">
                <h1 class="text-center">Login Page</h1>
                <div class="control-group">
                    <label for="">Username:</label>
                    <input class="form-control" type="text" ng-model="user.username">
                </div>
                <br>
                <div class="control-group">
                    <label for="">Password</label>
                    <input class="form-control" type="password" ng-model="user.password">
                </div>
                <br>
                <div>
                    <button ng-click="login(user)" class="btn btn-default center-block" type="button">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>