<div class="container test-margin">
    <div class="row">
        <div class="well">
            <form class="form-group" action="">
                <h1 class="text-center">Login</h1>
                <br>
                <div class="control-group">
                    <input class="form-control center-block input-field" type="text" ng-model="user.username" placeholder="Username...">
                </div>
                <br>
                <div class="control-group">
                    <input class="form-control center-block input-field" type="password" ng-model="user.password" placeholder="Password...">
                </div>
                <br>
                <div>
                    <button ng-click="login(user)" class="btn btn-default center-block" type="button">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>