<div class="container test-margin">
    <div class="row">
        <div class="well">
            <form>
                <h1 class="text-center">Signup</h1>
                <div class="control-group">
                    <label for="">First Name:</label>
                    <input class="form-control" type="text" name="" value="" ng-model="user.firstName">
                </div>
                <div class="control-group">
                    <label for="">Last Name:</label>
                    <input type="text" name="" value="" ng-model="user.lastName">
                </div>
                <div class="control-group">
                    <label for="">Username:</label>
                    <input type="" name="" value="" ng-model="user.username">
                </div>
                <div class="control-group">
                    <label for="">Email:</label>
                    <input type="" name="" value="" ng-model="user.email">
                </div>
                <div class="control-group">
                    <label for="">Password:</label>
                    <input type="" name="" value="" ng-model="user.password">
                </div>
                <div class="control-group">
                    <label for="">Repeat Password:</label>
                    <input type="" name="" value="" ng-model="passwordRepeat">
                </div>
            </form>
        </div>
    </div>
</div>